    html,body {
    background-color:white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
      /* .rectangular{
          width: 20px;
          height: 40px;
      } */
      .title{
          color: var(--Secondary-2, #DB4444);
      /* Title/16PX Semibold */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; /* 125% */
    }
      .footer{
            height: fit-content;
        }
        .footerimg{
            gap: 6;
            height: 1.5rem;
            width: 21.063rem;
        }
        .layoutimg{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 14.5rem;
        }
        .inputfiled{
            background-color: none;
            border: 1px solid white;
        }
        .footerdiv{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 87px;
        }
        .mybutton{
          display: flex;
          justify-content: center;
          background-color: white;
          padding: 2rem;
          border-radius: 0.5rem;
          border: 2px solid rgba(17, 17, 17, 0.4);
        }
        .mybutton:hover{
          background-color: #DB4444;
          border: 2px solid rgba(226, 61, 61, 0.9);
        }
        #dropbutton::after{
          display: none;
        }
        .dropdown-menu .dropdown-item:hover {
        background-color: transparent;
        }

        /* clock css */
        .clock-body {
          font-family: 'Arial', sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
        }

        .digital-clock {
          font-size: 2rem;
          color: #333;
          font-weight: bold;
        }
        .totop{
          display: flex;
          justify-content: right;
        }

        /* maincaurosal */
        .mainbody {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .slider-container {
        /* height: 600px; */
        max-width: 100%;
        margin-left: 50px;
      }
      .slick-slider {
        position: relative;
      }
      .slider-item {
        position: relative;
        height: 90%;
        width: 90%;
      }
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 72.5%;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s;
      }
      .cart-text {
        font-weight: bold;
      }
      .slider-item:hover .overlay {
        opacity: 1;
      }
      .images-slider {
        height: 90%;
        width: 80%;
      }